[submodule "vim/.vim/bundle/Syntastic"]
	path = vim/.vim/bundle/Syntastic
	url = https://github.com/vim-scripts/Syntastic.git
[submodule "i3/conky-simple"]
	path = i3/conky-simple
	url = git@github.com:fpczk/conky-simple.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
